body{
  line-height: 2;
}
h1{
  margin-bottom: 0;
  font-weight: normal;
}
h2{
  margin-top: 0;
  font-weight: normal;
}
h3{
color: #78866B;
}
hr{
  margin: 50px 0;
}
.quote{
  margin: 10px;
  font-family: cursive;
}
.top{
  background-color: #F5F0BB;
  font-family: sans-serif;
  text-align: center;
  padding: 10px 0;
  color: #78866B;
  font-family: 'Merriweather', serif;
}
.mid{
  background-color: #C4DFAA;
  padding: 10px 30px;
  font-family: 'Merriweather', serif;
}
.bottom{
  background-color: #90C8AC;
  padding: 10px 30px;
  font-family: 'Merriweather', serif;
}
.lower{
  background-color: #73A9AD;
}
